diff-match-patch==20121119
Django==2.1.7
django-import-export==0.4.5
fake-factory==0.7.2
html2text==2016.5.29
python-dateutil==2.6.0
requests==2.11.0
requests-toolbelt==0.7.0
six==1.10.0
sqlparse==0.1.19
tablib==0.11.2
trafaret==0.7.1
