.container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: flex-start;
  align-content: flex-start;
  position: absolute;
  top: 15%;
  right: 0;
}

.item {
  width: 250px;
  margin: 5px 10px;
  color: #FFF;
  border-radius: 5px;

  &:hover {
    box-shadow: 0 0 10px 0 rgb(15, 15, 15);
  }

  p {
    margin: 10px;
    opacity: .8;
  }

  &.success {
    background-color: rgba(81, 163, 81, 0.8);
  }

  &.error {
    background-color: rgba(203, 100, 94, 0.8);
  }

  &.info {
    background-color: rgba(33, 150, 243, 0.8);
  }
}

.title {
  font-weight: 700;
}