.iphone5 {
  background: url('./iphone5.svg');
  width: 369px;
  height: 775px;
  position: relative;
}

.frame {
  width: 318px;
  height: 558px;
  background: #fff;
  position: absolute;
  top: 111px;
  left: 28px;
  border: none;
}
